.Main__form {
    flex-basis: 80.25%;
    display: flex;
    
}

.formComponentWrapper {
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formComponent0 {
    height: 100%;
    width: 100%;
}