.borrow-amount__div {
    display: flex;
    width: 100%;
}

.borrow-amount__div i {
    background-color: rgb(224, 224, 224);
    color: rgb(160, 160, 160);
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2.4rem;
    box-shadow: var(--formInputShadow);
}

.borrow-amount__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 40%;
}

.borrow-amount__container {
    flex-direction: row !important;
}

.borrow-amount__message {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--lightGrey);
}

/* ---- Range slider styles ------ */

.range-slider__input {
    box-shadow: none !important;
    padding: 0rem 0rem !important;
    cursor: pointer !important;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    background: #e4e4e4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
}

.range-slider__input:focus {
    border: none !important;
}

.range-slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    /* Slider handle height */
    background: var(--green);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.rangeContainer {
    position: relative;
}

.interestRate {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--lightGrey);
    position: absolute;
    top: 4rem;
    transform: translate(-50%, -50%);
    transition: color 0.3s ease;
}

.interestRate::before {
    content: '';
    width: 1px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interestRate:nth-of-type(1) {
    left: 0.5%
}


.interestRate:nth-of-type(2) {
    left: 20.5%
}

.interestRate:nth-of-type(3) {
    left: 40%
}

.interestRate:nth-of-type(4) {
    left: 59.75%
}

.interestRate:nth-of-type(5) {
    left: 79.25%
}

.interestRate:nth-of-type(6) {
    left: 99.5%
}

.lengthInput {
    padding-top: 1.25rem;
}